<?xml version="1.0" encoding="UTF-8" ?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<filter>
		<filter-class>com.baijia.warehouse.filter.WarehouseFilter</filter-class>
		<filter-name>warehouseFilter</filter-name>
		<description>this filter is used for test how the response Filter work</description>
	</filter>
	<filter-mapping>
		<filter-name>warehouseFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>